body * {
    font-family: "Noto Sans KR";

  }

#logout{
  top: 20px;
  right: 20px;
  position: absolute;
  width: 60px;
  height: 40px;
  background-color: #939393;

  text-align: center;
  line-height: 38px;
  color: white;
  border-radius: 5px;
}

#logout:hover{
  cursor: pointer;
}

  #header {
    width: 100%;
    height: 64px;
    border-bottom: 2px solid #EEEEEE;
  }

  .category{
    color: black;
    text-decoration: none;
  }
  #nav {
    width: 80%;
    height: 100%;
    margin: auto;

    font-size: 25px;
    font-weight: bold;

  }

  #nav > div{
    height: 100%;
    width: 20%;
    border: 1px dashed #EEEEEE;
    float: left;
    box-sizing: border-box;
    text-align: center;
    line-height: 62px;

  }

  #main {
    width: 100%;
    height: 100%;
  }

  #main > #section-table {
    background-color: #fdfdfd;
    width: 80%;
    height: 100%;

    margin: auto;


  }

  #admin-table {
    width: 100%;
    height: 400px;
    /* 크기가 있어야 중앙 배치 된다.*/
    border-collapse: collapse;
    /* 두줄을 한줄로 바꿔줌 */
    margin-top: 100px;
    font-size: 20px;
    text-align: center;

  }

  .button-area {
    margin-top: 15px;
    float: right;
  }

  .button {
    display: inline-block;

  }

  .button:hover {
    display: inline-block;
    cursor: pointer;
  }

  td,
  th {
    border-top: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    height: 22px;
  }

  #search-area{
    border-bottom: 5px solid black;
    width: 400px;
    height: 50px;
    text-align: center;
    margin: auto;
    margin-top: 60px;
    position: relative;
  }

  #search-area > select:nth-of-type(1){
        height: 40px;
        font-size: 15px;
        position:absolute;
        right:-100px;
        top:15px
  }

  #search-area > select:nth-of-type(2){
    height: 40px;
    font-size: 15px;
    position:absolute;
    right:-170px;
    top:15px
}

  input{
    /* background-color: #ccc; */
    width: 90%;
    height: 95%;
    border:none;
    outline: none;
    font-size: 20px;
  }
  input::placeholder{
    color: #3278FE;
    font-size: 20px;
    line-height: 27px;
  }