html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FDFDFD;
}
.b-container{
    width: 1000px;
    height: 600px;
    border-radius: 5px;
    margin: auto;
    margin-top: 80px;
    
    opacity: 0.7;
}


button{
    cursor: pointer;
}

.main{
	background-color: #f6f6f6;
    border-radius: 10px; 
    padding: 20px;
}

.session-val{
    display: inline-block;
    padding: 0px;
    margin: auto;
    width: 430px;
    height: 42px;
    margin-bottom: 10px;
       
   }

   .session-val > p {
       text-align: left;
       font-size: 20px;
   }
   /* 비밀번호 input 창 */
   .updatePw-input{
    display: inline-block;
    padding: 0px;
    margin: auto;
    width: 430px;
    height: 42px;
    border-radius: 5px;
    border: 1px solid rgb(214, 209, 209);
    
    outline: none;
   }

/* 회원가입 */
.updatePw-title{ 
  
  font-weight: bold;  
  text-align: center;
  font-size: 40px;
  margin: 20px 0px 35px 0px;
}
tbody{
    width: 100%;
}

/* 라벨 */
.label1{
     display: inline-block;
     width: 101.01px;
     height: 10px;
     font-size: 13px;
     padding: 0px;
     text-align: right;
     margin-right: 25.42px;
     font-weight:lighter;
     margin-left: 30px;
     font-weight: bold;
 }
/* fome 태그 */
form{
    margin: auto;
    padding-top: 10px;
}

table{
    width: 100%;
}

 fieldset{
 width: 710px;
 height: 480px;; 
 margin: auto;
 margin-top: 30px;
 border-radius: 5px;
 border: white;
 padding: 0px;
}


/* 확인 취소 버튼 영역 */
section{
    
    text-align: center;
    margin-top: 10px;
}
/* 확인 버튼 */
#suc{
    
 
 width: 60px;
 height: 37px;
 margin-right: 10px;
 
 border-radius: 5px;
 border: 1px solid #F6F6F6;
 background-color: #3278FE;
 color: white;
}

/* 취소버튼 */
#eix{
 font-style: Noto Sans;
 margin-left: 10px;
 
 width: 60px;
 height: 37px;
 border-radius: 5px;
 border: 1px solid white;
 background-color: gray;
 color: white;
}
.btn-wrap{
    width: 100%
  
}
#sub_btn:hover{
 
    
}

#suc:hover{
   
   
   
}
#eix:hover{
   
}
.check-wrapper{
    width: 400px;
    height: 15px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

